* {
    margin: 0;
    padding: 0;
    font-family: 'Bebas Neue', sans-serif;
}

body {
    color: #000;
}

.navbar-brand {
    margin: 0;
    padding: 0;
}

.tech-imgs {
    width: 200px;
}

.section {
    background-color: #000;
}