* {
    margin: 0;
    padding: 0;
    font-family: 'Bebas Neue', sans-serif;
}

body {
    color: #000;
}


.navbar-brand {
    margin: 0;
    padding: 0;
}

.tech-imgs {
    width: 200px;
}

.section {
    background-color: #000;
}

.btn-end {
    background-color: #38A3A6;
    
    border: none;
}

.btn-end:hover {
    background-color: #1e5b5e;
}

.bg-r {
    background-color: #38A3A6;
}

.cart-l {
    color: #38A3A6;
}

.btn-principal {
    background-color: transparent;
    padding: 8px 10px;
    border-radius: 5px;
    border: 2px solid #38A3A6;
    color: #38A3A6;
}

.btn-principal:hover {
    background-color: #fff;
    transition: 0.7s all;
}

.title-principal {
    color: #38A3A6;
    font-size: 52px;
}

.buta {
    color: #38A3A6;
}


@media (max-width: 667px) {
    .title-principal {
        font-size: 27px;
    }
}